@font-face {
    font-family: 'Zen Antique';
    src: url('./fonts/ZenAntique-Regular.woff');
}

@font-face {
    font-family: 'Open Sans';
    src: url(./fonts/OpenSans-VariableFont_wdth\,wght.woff);
}

html {
    --main-color: #0a0a0b;
    --primary-color: #ffffff;
    --secondary-color: #a0a0a0;
    --minor-color: #f9e63d;
    --highlight: #2e3038;
    background-color: var(--main-color);
    color: var(--primary-color);
    font-size: 67.5%;
}

* {
    margin: 0;
    padding: 0;
    color: var(--primary-color);
    box-sizing: border-box;
}

h1 a {
    font-size: 2rem;
    font-family: 'Zen Antique', sans-serif;
}

h2 {
    font-family: 'Zen Antique', sans-serif;
    font-size: 5.5rem;
}

h3 {
    font-family: 'Zen Antique', sans-serif;
    font-size: 4rem;
}

h3 a {
    font-family: 'Zen Antique', sans-serif;
    font-size: 4rem;
}

p {
    margin-top: 1rem;
    font-family: 'Open Sans';
    font-size: 2rem;
    color: var(--secondary-color);
}

a {
    text-decoration: none;
    font-family: 'Open Sans';
}

li {
    font-size: 2rem;
    list-style: none;
}

button {
    background-color: var(--minor-color);
    color: var(--main-color);
    border: none;
    padding: 1.5rem 3rem;
    font-size: 1.8rem;
    font-family: 'Zen Antique', sans-serif;
    cursor: pointer;
}

main {
    margin: 0 auto;
    max-width: 90%;
}

/* Navigation */

nav {
    min-height: 20vh;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links li {
    margin: 0 2rem;
}

.nav-links li a {
    color: var(--secondary-color);
}

/* Hero Section */

.hero-section {
    min-height: 30vh;
    display: flex;
}

.hero-text {
    flex: 1 1 1rem;
}

.empty-div {
    flex: 1 1 1rem;
    min-width: 5vw;
}

/* Brand Section */
.brand-section {
    min-height: 30vh;
    align-items: center;
}

.brands {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10rem;
}

/* make image in class brand-section bigger */
.brands img {
    height: auto;
    min-width: 8%;
}

/*Portfolio Section */
.potfolio-section {
    min-height: 50vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10rem;
}

.pofolio-cards img {
    height: auto;
    min-width: 100%;
    margin-bottom: 2rem;
}

.pofolio-cards p {
    font-size: 2rem;
    margin: 2rem 0;
}

/* Highlight Content */
.highlight-content {
    background-color: var(--highlight);
}

.highlight-section {
    min-height: 40vh;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
}

.highlight-contents,
.highlight-contents * {
    margin: 2rem 0;
}

.highlight-content-1 {
    flex: 1 1 1rem;
}

.highlight-content-2 {
    flex: 1 1 1rem;
}

/* Get in touch section */
.get-in-touch-section {
    min-height: 30vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;
}

.get-in-touch-desc {
    padding: 5rem 0;
    flex: 2 1 10rem;
}

.get-in-touch-desc * {
    margin: 1rem 0;
}

/* Footer Section */
.footer-section {
    min-height: 10vh;
    max-width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.footer-section h1 {
    flex: 4 1 1rem;

}

.footer-section .social {
    display: flex;
    justify-content: space-between;
    flex: 1 1 1rem;
}